* {
	margin      : 0px;
	padding     : 0px;

	font-family : serif;
}



/* NAVIGATION */
nav.navMenu {
	width : 100%;

	position : fixed;
	top : 0;
	left : 0;
}

nav.navMenu ul { margin-right : 3%; }

nav.navMenu li {
	width : 8%;
	float : right;
	list-style: none;

	text-align: center;

	padding : 1% 0 1% 0;
}

body { margin-top : 5%; }


#choixPage {
	background    : rgba( 106,103,49, 0.3 );
	border-bottom : 2px solid #6A6731;
}

nav.navMenu li:hover {
	background    : rgba( 106,103,49, 0.3 );
	border-bottom : 2px solid #6A6731;
}


nav.navMenu li a {
	color : black;
	text-decoration: none;
}



/* ------------------------------- */
/* ------------------------------- */
/*           Competences           */
/* ------------------------------- */
/* ------------------------------- */

nav.navComp
{
	width : 20%;
	margin-left : 2%;
	float : left;
}

nav.navComp li {
	list-style : none;

	color : rgba( 106,103,49, 0.5 );

	margin-bottom: 5%;
	padding : 3%;
}

nav.navComp li span { margin-left : 10%; }

#choixComp1 { color : black; }
nav.navComp li:hover { color : black; }


section.comp h2 {
	text-align : center;

	padding    : 2%;

	text-decoration: underline;
	text-decoration-color : #6A6731;
	text-underline-offset: 50%;
	text-underline-position : under;
}


section.comp h2 hr { width : calc() }


section.comp {
	width : 70%;
	padding : 0 25% 0 25%;
}

#comp2, #comp3, #comp4, #comp5, #comp6 { display : none; }