* {
	margin      : 0px;
	padding     : 0px;

	font-family : serif;
}



/* NAVIGATION */
nav.navMenu {
	width : 100%;

	position : fixed;
	top : 0;
	left : 0;
}

nav.navMenu ul { margin-right : 3%; }

nav.navMenu li {
	width : 8%;
	float : right;
	list-style: none;

	text-align: center;

	padding : 1% 0 1% 0;
}

body { margin-top : 5%; }


#choixPage {
	background    : rgba( 106,103,49, 0.3 );
	border-bottom : 2px solid #6A6731;
}

nav.navMenu li:hover {
	background    : rgba( 106,103,49, 0.3 );
	border-bottom : 2px solid #6A6731;
}


nav.navMenu li a {
	color : black;
	text-decoration: none;
}



/* ------------------------------- */
/* ------------------------------- */
/*           Competences           */
/* ------------------------------- */
/* ------------------------------- */

nav.navComp
{
	width : 20%;
	margin-left : 2%;
	float : left;
}

nav.navComp li {
	list-style : none;

	color : rgba( 106,103,49, 0.5 );

	margin-bottom: 5%;
	padding : 3%;
}

nav.navComp li span { margin-left : 10%; }

#choixComp { color : black; }
nav.navComp li:hover { color : black; }